<div class="margin-t-20">
    <div class="container">
        <div class="card margin-b-15">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        Total de personas: <span class="text-blue"><strong>{{_getInfoService.dataPersons?.total}}</strong></span>
                    </div>
                    <div class="col-2">
                        Nuevos:
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body padding-l-0 padding-r-0">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="text-center">
                            <th><i class="fas fa-flag text-red"></i></th>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Fecha</th>
                            <th>Estatus</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let itemPerson of _getInfoService.dataPersons?.results | paginate: { itemsPerPage: 10, currentPage: p }">
                            <tr class="text-center">
                                <td>
                                    <div class="row ">
                                        <div class="col-6">
                                            <div class="form-check ">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <i class="fas fa-thumbtack text-red"></i>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a [routerLink]="['/informacion',itemPerson.person_id]" >
                                        {{itemPerson.person_id}}

                                    </a>
                                </td>
                                <td>
                                    {{itemPerson.name +' '+itemPerson.lastname}}
                                </td>
                                <td>
                                    {{itemPerson.email}}
                                </td>
                                <td>
                                    {{itemPerson.updated_at | date}}
                                </td>
                                <td>
                                    <ng-container *ngIf="itemPerson.user?.active">

                                        <div class="d-flex flex-row bd-highlight mb-3">
                                            <div class="p-2 bd-highlight align-self-center">
                                                <span class="circulo-verde"></span>
                                            </div>
                                            <div class="p-2 bd-highlight">

                                                Active
                                            </div>
                                          </div>
                                    </ng-container>
                                    <ng-container *ngIf="!itemPerson.user?.active">
                                        <div class="d-flex flex-row bd-highlight mb-3">
                                            <div class="p-2 bd-highlight align-self-center">
                                                <span class="circulo-rojo"></span>
                                                
                                            </div>
                                            <div class="p-2 bd-highlight">
                                                No Active
                                                
                                            </div>
                                          </div>
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6">
                        <div class="text-right text-end">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>