.alert {
    position: relative;
    opacity: 0;
    font-weight: 400;
    height: 0;
    padding: 0;
    margin-top: 0;
    transition: .3s;
    margin-bottom: 0;
}

.alertActive{
    opacity: 1;
    height: auto;
    padding: 10px;
    margin-top: 10px;
}

.alerta_ayuda_ine {
    background-color: #f8e1f2;
}