.btn_blue {
    border-radius: 15px;
    background: $cBlue;
    color: $cWhite;
    border-color: $cBlue;
    width: auto;
    font-weight: bold;
}

.btn_blue:hover {
    background: $cWhite;
    color: $cBlue;
    border-color: $cBlue;
}


.btn_white {
    border-radius: 15px;
    background: $cBlue;
    color: $cWhite;
    border-color: $cWhite;
    width: auto;
    font-weight: bold;
}

.btn_white:hover {
    background: $cWhite;
    color: $cBlue;
    border-color: $cBlue;
}