
.text-red{
    color: $cRed;
}

.text-blue{
    color: $cBlue;
}

.text-white{
    color: $cWhite;
}

.text-black{
    color: $cBlack;
}

.text-gray{
    color: $cGray;
}

.bg-red{
    background: $cRed;
}

.bg-blue{
    background: $cBlue;
}

.bg-white{
    background: $cWhite;
}

.bg-black{
    background: $cBlack;
}

.bg-Gray{
    background: $cGray;
}