.circulo-rojo {
    width: 20px;
	height: 20px;
	border-radius: 50%;
    background: $cRed;
    color: $cWhite;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.circulo-verde {
    width: 20px;
	height: 20px;
	border-radius: 50%;
    background: $cGreen;
    color: $cWhite;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}


.imgRedonda-md {
    width:100px;
    height:100px;
    border-radius:160px;
    border:2px solid #666;
    position: relative;
}

.imgRedonda-xl {
    width:200px;
    height:200px;
    border-radius:160px;
    border:2px solid #666;
    position: relative;
}

