/* RADIOBUTTONS */

.radio-rosaINE {
    opacity: 0;
    position: absolute;   
}

.radio-rosaINE + .radio-rosaINE-label:before {
    content: '';
    background: #fff;
    border: 2px solid $cRosaIne;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    border-radius: 50%;
}



.radio-rosaINE:checked + .radio-rosaINE-label:before {
    background: $cRosaIne;
    box-shadow: inset 0px 0px 0px 4px #fff;
}


/* CHECKBOXES */

.checkbox-rosaINE 
{
    background-color: #ffffff;
    border-radius: 4px;
    appearance: none;
   /*  -webkit-appearance: none;
    -moz-appearance: none; */
    width: 17px;
    height: 17px;
    cursor: pointer;
    position: relative;
    top: 3px;
    border: 1px solid #707070;
}

.checkbox-rosaINE:checked
{
   /*  background-color: #409fd6; */
   border: 1px solid $cRosaIne;
   background: $cRosaIne url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 3px 3px no-repeat;
}