<div class="shadow-bottom">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-brand" >
                <img src="./assets/img/nebula.png" class="img-logo" alt="">
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 margin-r-10">
                    <li class="nav-item">
                        <a class="nav-link padding-b-0" aria-current="page" >Dashboard</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link padding-b-0"  routerLink="/personas" routerLinkActive="active-link">Personas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link padding-b-0" >Transacciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link padding-b-0" >Suscripciones</a>
                    </li>
                </ul>
                <div class="d-flex size-buttons">
                    <div class="container-fluid">
                        <div class="row text-center">
                            <div class="offset-3 col-3 border-menu padding-t-7">
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="col-3 border-menu padding-t-7">
                                <i class="fas fa-user-plus"></i>
                            </div>
                            <div class="col-3 padding-t-7">
                                <img src='./assets/img/alien.png' class='imgRedonda' />
                                <div class="circulo"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
            </div>
        </div>
    </nav>
</div>