.shadow-bottom{
    -webkit-box-shadow:0px 1px 10px #C4C4C4;
     -moz-box-shadow:0px 1px 10px #C4C4C4;
     box-shadow:0px 1px 10px #C4C4C4;
}

.size-buttons{
    width: 300px;
}

.img-logo{
    width: 25%;
}

.imgRedonda {
    width:30px;
    height:30px;
    border-radius:160px;
    border:2px solid #666;
    position: relative;
}

.circulo {
    position:relative;
    width:10px;
    height:10px;
    border-radius: 50%;
    background: orange;
    margin:auto;
    top: -8px;
    right: -10px;
    /* top: 0; left: 0; bottom: 0; right: 0; */
}

.border-menu{
    border-right: 3px solid #BEBEBE;
}

.active-link{
    font-weight: bold;
    border-bottom: 5px solid #009ED6;
}