<div>
    <div class="container-fluid margin-0">
        <div class="row">
            <div class="col-2 bg-blue padding-0">
                <app-lateral-menu [infoPersonLateralMenu] = this.infoPerson></app-lateral-menu>
            </div>
            <div class="col-10 text-gray">
                <div>
                    <div class="card margin-40">
                        <div class="card-body">
                            <div class="row">
                                <div class="offset-1 col-3 d-flex">
                                    <div class="align-self-center ">
                                        <img src='./assets/img/alien.png' class='imgRedonda-xl ' />
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="px-25">
                                        <div class="row">
                                            <div class="col-10">
                                                <p>
                                                    <strong>
                                                        Información Personal
                                                    </strong>
                                                </p>
                                            </div>
                                            <div class="col-2">
                                                <i class="fas fa-cog text-blue"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <p>
                                            Nombre: {{this.infoPerson?.name}}
                                        </p>
                                        <p *ngIf="this.infoPerson?.middlename !== null">
                                            Segundo Nombre: {{this.infoPerson?.middlename}}
                                        </p>
                                        <p>
                                            Apellidos: {{this.infoPerson?.lastname}}
                                        </p>
                                        <p>
                                            Correo:  {{this.infoPerson?.email}}
                                        </p>
                                        <p *ngIf="this.infoPerson?.phones[0] !== undefined">
                                            Teléfono:  {{this.infoPerson?.phones[0].number}}
                                        </p>
                                        <p *ngIf="this.infoPerson?.gender !== null">
                                            Género: {{this.infoPerson?.gender}}
                                        </p>
                                        <p *ngIf="this.infoPerson?.birthdate !== null">
                                            Fecha de nacimiento: {{this.infoPerson?.birthdate  | date}}
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="margin-b-30">
                    <div class="row">
                        <div class="col-8">
                            <div class="card margin-l-40">
                                <div class="card-body padding-l-60">
                                    <div class="px-25">
                                        <p>
                                            <strong>
                                                Dirección
                                            </strong>
                                        </p>
                                    </div>
                                    <div>
                                        <p>
                                            Tipo:
                                        </p>
                                        <p>
                                            Calle y número:
                                        </p>
                                        <p>
                                            Código postal:
                                        </p>
                                        <p>
                                            Delegación:
                                        </p>
                                        <p>
                                            Ciudad:
                                        </p>
                                        <p>
                                            Estado:
                                        </p>
                                        <p>
                                            País
                                        </p>
                                        <p>
                                            Comentario:
                                        </p>
                                    </div>
                                    <div class="text-end">
                                        <button type="submit" class="btn btn-primary btn_blue">Agregar dirección</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-4">
                            <div class="card margin-r-40">
                                <div class="card-body">
                                    <div class="px-25">
                                        <p>
                                            <strong>
                                                Direcciónes guardadas
                                            </strong>
                                        </p>
                                    </div>
                                    <ng-container *ngFor="let item of this.infoPerson?.phones">

                                        <div>
                                            <p>
                                                {{item.phone_type.description}}
                                            </p>
                                            <p>
                                                {{item.number}}
                                            </p>
                                        </div>
                                    </ng-container>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
