<app-header *ngIf="_globalService.loginValue"></app-header>
<router-outlet></router-outlet>
<app-footer *ngIf="!_globalService.loginValue"></app-footer>
<app-spinner></app-spinner>
<app-block-screen></app-block-screen>