.lateral-menu{
    height: auto;
}

.main-menu{
    color: #ffffff;
}

.main-options{
    a{
        height: 50px;
        color: #095175;
    }
}
.active-link{
    background: #004667;
    color: #ffffff !important;
    border-left: 7px solid #ffffff;
}