<div class="lateral-menu bg-blue">
    <div class="main-menu">
        <div class="text-center padding-t-40">
            <img src='./assets/img/alien.png' class='imgRedonda-md' />
        </div>
        <div class="text-center padding-t-10 px-25">
            <p>
                {{infoPersonLateralMenu?.name}}
            </p>
        </div>
        <div class="padding-t-10 text-center">
            <p class="px-18">
                <strong>
                    Contacto
                </strong>
            </p>
            <p *ngIf="infoPersonLateralMenu?.email !== null">
                {{infoPersonLateralMenu?.email}}
            </p>
            <p *ngIf="this.infoPersonLateralMenu?.phones[0] !== undefined">
                {{this.infoPersonLateralMenu?.phones[0].number}}
            </p>
            <p class="px-18">
                <strong>
                    Fecha de nacimiento
                </strong> 
            </p>
            <p *ngIf="this.infoPersonLateralMenu?.birthdate !== null">
                {{this.infoPersonLateralMenu?.birthdate  | date}}
            </p>
            <p>
                <button type="submit" class="btn btn-primary btn_white">
                    <ng-container *ngIf="this.infoPersonLateralMenu?.user?.active">
                        Activo
                    </ng-container>
                    <ng-container *ngIf="!this.infoPersonLateralMenu?.user?.active">
                        No Activo
                    </ng-container>
                </button>
            </p>
        </div>
        <div class="main-options padding-t-20">
            <nav class="nav flex-column">
                <a class="nav-link" >
                    <i class="fas fa-chart-bar"></i> Overview
                </a>
                <a class="nav-link" routerLink="/informacion" routerLinkActive="active-link" >
                    <i class="fas fa-info"></i> Información
                </a>
                <a class="nav-link" >
                    <i class="fas fa-dollar-sign"></i> Transacciones
                </a>
                <a class="nav-link" >
                    <i class="fas fa-retweet"></i> Suscripciones
                </a>
                <a class="nav-link" >
                    <i class="fas fa-credit-card"></i> Tarjetas
                </a>
                <a class="nav-link" >
                    <i class="fas fa-comment"></i> Interacciones
                </a>
              </nav>
        </div>
        
        {{infoPersonLateralMenu}}
    </div>
</div>