.background{
    background-image: url('../../../assets/img/background.jpg');
    height: 90%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.padre {
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.hijo {
    width: 60%;
    height: 60%;
    .bg-white{
        margin-top:50px;
        border-top-left-radius : 20px;
        border-bottom-left-radius : 20px;
        height: 50vh;
        margin-bottom: 50px;
    }
    .bg-black{
        border-top-right-radius : 20px;
        border-bottom-right-radius : 20px;
        
    }


}

.img-small{
    width: 50px;
}

.img-logo{
    width: 75%;
}

.img-alien{
    width: 40%;
}