<div class="background padre">
    <div class="hijo">
        <div class="container-fluid">
            <div class="row">
                <div class="col-7 bg-white">
                    <div class="padding-20">
                        <div class="d-flex flex-row bd-highlight mb-3">
                            <div class="p-2 bd-highlight">
                                <img src="./assets/img/nosotros.png" class="img-small" alt="">
                            </div>
                            <div class="p-2 bd-highlight">
                                <i class="fas fa-heart text-red"></i>

                            </div>
                            <div class="p-2 bd-highlight">
                                <img src="./assets/img/unete.png" class="img-small" alt="">

                            </div>
                        </div>
                        <div>
                            <form>
                                <div class="mb-3">
                                  <label for="exampleInputEmail1" class="form-label">Email</label>
                                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                  <label for="exampleInputPassword1" class="form-label">Password</label>
                                  <input type="password" class="form-control" id="exampleInputPassword1">
                                </div>
                                <div class="row">
                                    <div class="col-6 ">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">&nbsp; Recuerdame</label>
                                    </div>
                                    <div class="col-6 text-end">
                                        <button (click)="logIn();" type="submit" class="btn btn-primary btn_blue">Log In</button>
                                    </div>
                                </div>
                                <div class="row padding-t-20">
                                    <div class="text-center text-blue">
                                        Olvide mi contraseña
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-5 bg-black">
                    <div class="padding-20 text-gray">
                        <div class="px-35">
                            Bienvenido a
                        </div>
                        <div class="padding-t-15">
                            <img src="./assets/img/nebula1.png" class="img-logo" alt="">
                        </div>
                        <div class="padding-t-20 px-12">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quis tempora accusantium, beatae perferendis et quasi! Fuga eos quisquam vel recusandae earum nihil molestias itaque doloremque, corporis optio tenetur alias.
                        </div>
                        <div class="text-center padding-t-20">
                            <img src="./assets/img/alien.png" class="img-alien" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>