<footer class="bg-black">
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <div class="align-self-center padding-t-20">
                <img src="./assets/img/recaudialove.png" class="img-love" alt="">
                </div>
            </div>
            <div class="col-3 text-white padding-t-20">
                <div class="d-flex flex-row bd-highlight text-end ">
                    <div class=" bd-highlight padding-t-10 padding-r-10">
                        Need support? Contact us:

                    </div>
                    <div class="p-2 bd-highlight">
                        <i class="fas fa-phone-alt circle-icon text-black"></i>
                    </div>
                    <div class="p-2 bd-highlight">
                        <i class="far fa-envelope circle-icon text-black"></i>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</footer>
